{% extends "base.html" %}

{% block page_content %}
<section class="content-wrap">
    <div class="container">
        <div class="row">
            {% if not onload %}
            <main class="col-md-8 main-content" id="main-content">
            {% else %}
            <main class="col-md-8 main-content" id="main-content" onload={{ onload }}>
            {% endif %}
                {% block main_content %}
                {% endblock main_content %}
            </main>

            <aside class="col-md-4 sidebar">
                <div class="widget">
                    <h4 class="title">分类</h4>
                    <div class="content">
                        {% for c in categories() %}
                        <p><a href="{{ c.link }}">{{ c.name }}<span class="badge pull-right">{{ c.count }}</span></a></p>
                        {% endfor %}
                    </div>
                </div>
            </aside>


            <aside class="col-md-4 sidebar">
                <div class="widget">
                    <h4 class="title">联系方式</h4>
                    <div class="content">
                        <p><a href="mailto:sylar1015@163.com">邮箱: sylar1015@163.com</a></p>
                        <p><a href="mailto:woaichixianggua@gmail.com">备用邮箱: woaichixianggua@gmail.com</a></p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock page_content %}
