{% extends "base_minimal.html" %}

{% block page_content %}
{% endblock page_content %}

{% block footer %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="widget">
                <h4 class="title">最新文章</h4>
                <div class="content recent-post">
                    {% for post in latest_posts() %}
                    <div class="recent-single-post">
                        <a href="{{ post.link }}" class="post-title">{{post.title}}</a>
                        <div class="date">{{ post.get_timestamp() }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget">
                <h4 class="title">推荐链接</h4>
                <div class="content tag-clound">
                    <a href="https://github.com/sylar1015/myblog/issues" target="_blank">意见反馈</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget">
                <h4 class="title">特别感谢</h4>
                <div class="content tag-clound">
                    <a href="http://www.ghostchina.com/" target="_blank">Ghost中文网</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock footer %}
