{% extends "base_content.html" %}

{% block main_content %}
<article id={{post.id}} class="post">
    <div class="post-head">
        <h1 class="post-title">
            <a href="{{post.link}}">{{ post.title }}</a>
        </h1>
        <div class="post-meta">
            <time class="post-date">{{ post.get_timestamp() }}</time>
            |
            标签 <a href="javascript:void(0);">{{ post.tags }}</a>
        </div>
    </div>
    <div class="post-content">{{ post.content_html | safe }}</div>
    <div class="post-permalink">
    </div>
    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>
        </div>
        <div class="pull-right share"></div>
    </footer>
</article>
{% endblock main_content %}
